[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "==4.6.0"
cherrypy = "==15.0.0"
"html5lib" = "==1.0.1"
numpy = "==1.14.3"
pandas = "==0.23.0"
redis = "==2.10.6"
requests = "==2.18.4"
"Jinja2" = "==2.10"

[dev-packages]

[requires]
python_version = "3.6"
